._insta{	
	height : 120px;
	width : inherit;
	background-image: url(../img/menu-insta/insta.png);
	background-repeat: no-repeat;
    background-size: 50px;
    background-position: 55px 15px;
}
.galery-text{
	position:relative;
	top: 75px;
    left: 54px;
}