/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "main-header/_main-header";
@import "container/_container";
@import "top-background/_top-background";
@import "footer/_footer";
@import "main-content/_main-content";
@font-face {
    font-family:GothaProMed; 
    src: url(../fonts/GothaProMed.otf); 
   }
@font-face {
    font-family:GothaProBol; 
    src: url(../fonts/GothaProBol.otf); 
   }
@font-face {
    font-family:GothaProLig; 
    src: url(../fonts/GothaProLig.otf); 
   }
$font-stack:    Helvetica, sans-serif;
 $page-height : 132.5vw;
 $body-max-width: 1560px;
body {
   font-family:GothaProLig;
  height: initial;
  max-height:2903px;
  max-width:$body-max-width;
  margin : 0 auto;
}
