 .lays-summer{
 	height: 200px;
 	width:350px;
 	margin: 0;
 	font-size: 80px;
 	font-family:GothaProMed; 
 	color:red;
 	position: relative;
 	top: 380px;
 	right: 570px;
 }
.lays-summer::first-line{
	letter-spacing:12px;
}
 .with-lays{
	font-family:GothaProMed;
	position: relative;
 	bottom: 60px;
 	word-spacing:-2px;
}
 .with-lays::first-letter{
 	font-family: GothaProLig;
 }
 .better{
	font-family:GothaProLig; 
 	font-size: 50px; 
 	position: relative;
 	bottom: 40px;
 	letter-spacing:3px;
 }
 @media screen and (max-width: 640px) {
.lays-summer{
 	top: 50px;
 	right: 450px;
 	font-size: 79px;
 }
}