.main-footer--social-network{
	display:flex;
	flex-direction:row;
    position: relative;
   
}
.main-footer--copyright{
    width: 61vw;
    font-size: 1vw;
    font-family: GothaProLig;
    padding-top: 2.2vw;
    color: #B1ADAD;
}
.social-network--block{
	width: 6vw;
	 opacity:0.8;
}
.social-network--block:hover{
	opacity:1;
	transition: 0.5s;
}
._facebook{
	background-image: url(../img/footer/fb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}
._vk{
	background-image: url(../img/footer/vk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}
._net{
background-image: url(../img/footer/net.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}
._youtube{
	background-image: url(../img/footer/yt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}
@media screen and (max-width: 640px) {
.main-footer--social-network{
   
}
.main-footer--copyright{
    width: 62vw;
    font-size: 1.5vw;
    padding-top: 2.5vw;
    padding-left: 4vw;
}
.allright{
    display:none;
    visibility:hidden;
}
.social-network--block{
    width: 9vw;
}

}