@import url(../container/top-background/top-bg.css);
@import url(../container/content/content.css);
@import url(../container/content/footer/footer.css);
.container{
 	position:relative;
 	min-height: 2903px;
 	max-width: 1410px;
 	margin-left:150px;
 	box-shadow:-1px 0px 1px 1px rgba(0 ,0 ,0 ,0.2);
 	
 }