.main-footer--logo{
    width: 8vw;
    height: 7vw;
    background-image: url(../img/logo/lays.png);
    background-repeat: no-repeat;
    background-size: 5vw;
    background-position: 2vw 1.5vw;
}
@media screen and (max-width: 640px) {

.main-footer--logo{
display: none;
visibility: hidden;
}

}