.elips{
	height: 8vw;
    width: 8vw;
    border-radius: 100%;
    margin-right: 3vw;
    background-color: white;
}
@media screen and(max-width: 640px){
.elips{
    height: 15vw;
    width: 15vw;
    margin-right: 10vw;
	}
}