.animation-elipses{
    position: relative;
    top: 4vw;
    left: 4vw;
    display: flex;
    flex-direction: row;
    width: 600px;
    text-align: center;
}
.animation-elipses--like-text, 
.animation-elipses--load-photo-text,
.animation-elipses--win-prize-text{
	position:relative;
	top: 10vw;
    right: 0vw;
	width:9vw;
	font-size:1vw;
}