.row-content:nth-child(1) .block-content:nth-child(2){
	background-color: white;
	width: 705px;
 }
.sub-row-content{
 	display: flex;
 	flex-direction: row;
     padding-left: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
 }
 .sub-content{
 	width: 213px;
 	height: 213px;
 	display: flex;
 	flex-direction: column;
 	margin:4px;
 }
 @media screen and (max-width: 640px) {
 	.row-content:nth-child(1) .block-content:nth-child(2){
	width: 640px;
 }
.sub-content{
 	width: 180px;
 	height: 180px;
 	margin: 5px;
 }
.sub-row-content {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin-bottom: 5px;
    /* margin-top: 10px; */
}
 img{
	width: 180px;
 	height: 180px;
 	padding-left: 30px;
 }
}