/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/main-header/menu/_menu_logo/_logo.scss */
._logo {
  height: 160px;
  width: inherit;
  background-image: url(../img/logo/lays.png);
  background-repeat: no-repeat;
  background-size: 85px;
  background-position: 35px 35px;
}

/* line 9, ../sass/main-header/menu/_menu_logo/_logo.scss */
.leto-lays-text {
  position: relative;
  top: 112px;
  left: 30px;
}

@media screen and (max-width: 1400px) {
  /* line 15, ../sass/main-header/menu/_menu_logo/_logo.scss */
  ._logo {
    height: 12vw;
    background-size: 6vw;
    background-position: 2.7vw 3vw;
  }

  /* line 21, ../sass/main-header/menu/_menu_logo/_logo.scss */
  .leto-lays-text {
    top: 9.5vw;
    left: 1.6vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 28, ../sass/main-header/menu/_menu_logo/_logo.scss */
  ._logo {
    height: 12vw;
    background-size: 7vw;
    background-position: 2.7vw 3vw;
  }

  /* line 34, ../sass/main-header/menu/_menu_logo/_logo.scss */
  .leto-lays-text {
    top: 4.5vw;
    left: 41.6vw;
    font-size: 3vw;
  }
}
/* line 1, ../sass/main-header/menu/_menu_insta/_insta.scss */
._insta {
  height: 120px;
  width: inherit;
  background-image: url(../img/menu-insta/insta.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 55px 15px;
}

/* line 9, ../sass/main-header/menu/_menu_insta/_insta.scss */
.galery-text {
  position: relative;
  top: 75px;
  left: 45px;
}

@media screen and (max-width: 1400px) {
  /* line 15, ../sass/main-header/menu/_menu_insta/_insta.scss */
  ._insta {
    height: 10vw;
    background-size: 4vw;
    background-position: 3.7vw 3vw;
  }

  /* line 20, ../sass/main-header/menu/_menu_insta/_insta.scss */
  .galery-text {
    top: 9vw;
    left: 3vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 27, ../sass/main-header/menu/_menu_insta/_insta.scss */
  ._insta {
    height: 10vw;
    background-size: 7vw;
    background-position: 3.7vw 3vw;
  }

  /* line 32, ../sass/main-header/menu/_menu_insta/_insta.scss */
  .galery-text {
    top: 4vw;
    left: 43vw;
    font-size: 3vw;
  }
}
/* line 1, ../sass/main-header/menu/_menu_prize/_prize.scss */
._prize {
  height: 120px;
  width: inherit;
  background-image: url(../img/menu-prize/prize.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 55px 15px;
}

/* line 9, ../sass/main-header/menu/_menu_prize/_prize.scss */
.about-text {
  position: relative;
  top: 80px;
  left: 35px;
}

@media screen and (max-width: 1400px) {
  /* line 15, ../sass/main-header/menu/_menu_prize/_prize.scss */
  ._prize {
    height: 10vw;
    background-size: 4vw;
    background-position: 3.7vw 3vw;
  }

  /* line 21, ../sass/main-header/menu/_menu_prize/_prize.scss */
  .about-text {
    top: 10vw;
    left: 2vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 28, ../sass/main-header/menu/_menu_prize/_prize.scss */
  ._prize {
    height: 10vw;
    background-size: 7vw;
    background-position: 3.7vw 3vw;
  }

  /* line 33, ../sass/main-header/menu/_menu_prize/_prize.scss */
  .about-text {
    top: 4vw;
    left: 42vw;
    font-size: 3vw;
  }
}
/* line 1, ../sass/main-header/menu/_menu_map/_map.scss */
._map {
  height: 120px;
  width: inherit;
  background-image: url(../img/menu-map/map.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 55px 15px;
}

/* line 9, ../sass/main-header/menu/_menu_map/_map.scss */
.leto-with-lays-text {
  position: relative;
  top: 75px;
  left: 30px;
}

@media screen and (max-width: 1400px) {
  /* line 15, ../sass/main-header/menu/_menu_map/_map.scss */
  ._map {
    height: 10vw;
    background-size: 4vw;
    background-position: 3.7vw 3vw;
  }

  /* line 21, ../sass/main-header/menu/_menu_map/_map.scss */
  .leto-with-lays-text {
    top: 9vw;
    left: 1vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 29, ../sass/main-header/menu/_menu_map/_map.scss */
  ._map {
    height: 10vw;
    background-size: 7vw;
    background-position: 3.7vw 3vw;
  }

  /* line 34, ../sass/main-header/menu/_menu_map/_map.scss */
  .leto-with-lays-text {
    top: 4vw;
    left: 41vw;
    font-size: 3vw;
  }
}
/* line 6, ../sass/main-header/menu/menu.scss */
.menu {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: initial;
}

/* line 12, ../sass/main-header/menu/menu.scss */
.menu--item {
  width: inherit;
  visibility: visible;
}

/* line 16, ../sass/main-header/menu/menu.scss */
.menu--item:hover {
  transition: 1.5s;
  transition-property: background-color;
  background-color: white;
}

/* line 21, ../sass/main-header/menu/menu.scss */
.menu--item:not(:hover) {
  transition: 1.5s;
  transition-property: background-color;
  background-color: #f6f6f6;
}

/* line 26, ../sass/main-header/menu/menu.scss */
.escape-menu {
  visibility: hidden;
}

@media screen and (max-width: 640px) {
  /* line 30, ../sass/main-header/menu/menu.scss */
  .menu--item {
    background-color: #f6f6f6;
    height: 15vw;
  }

  /* line 34, ../sass/main-header/menu/menu.scss */
  .menu--item:nth-child(5) {
    background-color: #f0eded;
  }

  /* line 37, ../sass/main-header/menu/menu.scss */
  .menu--item:nth-child(5):hover {
    transition: 1.5s;
    transition-property: background-color;
    background-color: white;
  }

  /* line 43, ../sass/main-header/menu/menu.scss */
  .menu--item:nth-child(5):not(:hover) {
    transition: 1.5s;
    transition-property: background-color;
    background-color: #f0eded;
  }

  /* line 49, ../sass/main-header/menu/menu.scss */
  .escape-menu {
    position: relative;
    top: 4vw;
    left: 37vw;
    font-size: 3vw;
    visibility: visible;
  }
}
@media screen and (max-width: 640px) {
  /* line 4, ../sass/main-header/switch/_switch.scss */
  .switch {
    position: relative;
    bottom: 72vw;
    left: 85vw;
    height: 5vw;
    width: 6vw;
  }

  /* line 11, ../sass/main-header/switch/_switch.scss */
  ._off {
    transition: 0.5s;
    transform: rotate(0deg) translate(0, 0);
    position: relative;
    height: 1vw;
    width: 100%;
    margin-bottom: 1vw;
    background-color: red;
  }

  /* line 20, ../sass/main-header/switch/_switch.scss */
  ._on:nth-child(1) {
    transition: 0.5s;
    position: relative;
    height: 1vw;
    width: 100%;
    margin-bottom: 1vw;
    background-color: red;
    transform: rotate(40deg) translate(0.7vw, 2.1vw);
  }

  /* line 29, ../sass/main-header/switch/_switch.scss */
  ._on:nth-child(2) {
    transition: 0.5s;
    position: relative;
    height: 1vw;
    width: 100%;
    margin-bottom: 1vw;
    background-color: red;
    opacity: 0;
  }

  /* line 38, ../sass/main-header/switch/_switch.scss */
  ._on:nth-child(3) {
    transition: 0.5s;
    position: relative;
    height: 1vw;
    width: 100%;
    margin-bottom: 1vw;
    background-color: red;
    transform: rotate(-40deg) translate(0.7vw, -2vw);
  }
}
/* line 4, ../sass/main-header/_main-header.scss */
.main-header {
  position: fixed;
  width: 150px;
  height: 132.5vw;
  max-height: 2903px;
  background-color: #f6f6f6;
}

@media screen and (max-width: 1400px) {
  /* line 12, ../sass/main-header/_main-header.scss */
  .main-header {
    position: fixed;
    width: 11.6vw;
    height: 132.5vw;
    max-height: 2903px;
    background-color: #f6f6f6;
  }
}
@media screen and (max-width: 640px) {
  /* line 21, ../sass/main-header/_main-header.scss */
  .main-header {
    position: fixed;
    width: 100%;
    height: 11.6vw;
    background-color: #f6f6f6;
    z-index: 5;
  }
}
/* line 1, ../sass/container/_container.scss */
.container {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin-left: 150px;
  height: 180vw;
  overflow-x: hidden;
}

@media screen and (max-width: 1400px) {
  /* line 10, ../sass/container/_container.scss */
  .container {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-left: 11.6vw;
    height: 180vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 19, ../sass/container/_container.scss */
  .container {
    display: flex;
    flex-direction: column;
    height: 776vw;
    margin-left: 0vw;
  }
}
/* line 1, ../sass/top-background/animation-elipses/_elips.scss */
.elips {
  height: 8vw;
  width: 8vw;
  border-radius: 100%;
  margin-right: 3vw;
  background-color: white;
  opacity: 0;
  -webkit-animation-name: scale;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
}

/* line 12, ../sass/top-background/animation-elipses/_elips.scss */
.elips:nth-child(1) {
  -webkit-animation-delay: 1s;
}

/* line 15, ../sass/top-background/animation-elipses/_elips.scss */
.elips:nth-child(2) {
  -webkit-animation-delay: 2.5s;
}

/* line 18, ../sass/top-background/animation-elipses/_elips.scss */
.elips:nth-child(3) {
  -webkit-animation-delay: 4s;
}

@media screen and (max-width: 640px) {
  /* line 23, ../sass/top-background/animation-elipses/_elips.scss */
  .elips {
    height: 10vw;
    width: 10vw;
    margin-right: 21vw;
  }
}
/* line 1, ../sass/top-background/animation-elipses/animation-elipses.scss */
.animation-elipses {
  position: relative;
  top: 4vw;
  left: 4vw;
  display: flex;
  flex-direction: row;
  width: 600px;
  text-align: center;
}

/* line 10, ../sass/top-background/animation-elipses/animation-elipses.scss */
.animation-elipses--like-text,
.animation-elipses--load-photo-text,
.animation-elipses--win-prize-text {
  position: relative;
  top: 10vw;
  right: 0vw;
  width: 9vw;
  font-size: 1vw;
}

@media screen and (max-width: 640px) {
  /* line 22, ../sass/top-background/animation-elipses/animation-elipses.scss */
  .animation-elipses {
    top: 28vw;
    left: 15vw;
    width: 600px;
  }

  /* line 27, ../sass/top-background/animation-elipses/animation-elipses.scss */
  .animation-elipses--like-text,
  .animation-elipses--load-photo-text,
  .animation-elipses--win-prize-text {
    top: 12vw;
    right: 3vw;
    width: 16vw;
    font-size: 2vw;
  }
}
/* line 2, ../sass/top-background/main-text/main-text.scss */
.main-text {
  position: relative;
  font-size: 4vw;
  top: 3em;
  left: 1em;
  width: 600px;
}

/* line 9, ../sass/top-background/main-text/main-text.scss */
.main-text--summer-text {
  font-family: GothaProMed;
  font-size: 7vw;
  letter-spacing: 3px;
}

/* line 14, ../sass/top-background/main-text/main-text.scss */
.main-text--with-lays {
  font-family: GothaProMed;
  font-size: 6vw;
  letter-spacing: 0px;
  font-weight: bolder;
}

/* line 20, ../sass/top-background/main-text/main-text.scss */
.main-text--with-lays:first-letter {
  font-family: GothaProLig;
  font-size: 6vw;
}

@media screen and (max-width: 640px) {
  /* line 26, ../sass/top-background/main-text/main-text.scss */
  .main-text {
    font-size: 4vw;
    top: -1em;
    left: 10em;
  }

  /* line 31, ../sass/top-background/main-text/main-text.scss */
  .main-text--summer-text {
    font-size: 7vw;
    letter-spacing: 0px;
  }

  /* line 35, ../sass/top-background/main-text/main-text.scss */
  .main-text--with-lays {
    font-size: 6vw;
    letter-spacing: 0px;
  }
}
/* line 6, ../sass/top-background/_top-background.scss */
.container {
  background-color: #ECDA00;
}
/* line 8, ../sass/top-background/_top-background.scss */
.container .top-background {
  width: inherit;
  height: 57.3vw;
  background-image: url(../img/top-bg/top-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 640px) {
  /* line 18, ../sass/top-background/_top-background.scss */
  .container .top-background {
    background-image: url(../img/top-bg/top-background-mobile.jpg);
    height: 158vw;
    margin-top: 11.6vw;
  }
}
/* line 1, ../sass/footer/social/_social-network.scss */
.main-footer--social-network {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* line 7, ../sass/footer/social/_social-network.scss */
.main-footer--copyright {
  width: 61vw;
  font-size: 1vw;
  font-family: GothaProLig;
  padding-top: 2.2vw;
  color: #B1ADAD;
}

/* line 14, ../sass/footer/social/_social-network.scss */
.social-network--block {
  width: 6vw;
  opacity: 0.8;
}

/* line 18, ../sass/footer/social/_social-network.scss */
.social-network--block:hover {
  opacity: 1;
  transition-property: background;
  transition: 0.5s;
}

/* line 23, ../sass/footer/social/_social-network.scss */
.social-network--block:not(:hover) {
  opacity: 0.8;
  transition-property: background;
  transition: 0.5s;
}

/* line 28, ../sass/footer/social/_social-network.scss */
._facebook {
  background-image: url(../img/footer/fb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

/* line 34, ../sass/footer/social/_social-network.scss */
._vk {
  background-image: url(../img/footer/vk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

/* line 40, ../sass/footer/social/_social-network.scss */
._net {
  background-image: url(../img/footer/net.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

/* line 46, ../sass/footer/social/_social-network.scss */
._youtube {
  background-image: url(../img/footer/yt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

@media screen and (max-width: 640px) {
  /* line 56, ../sass/footer/social/_social-network.scss */
  .main-footer--copyright {
    width: 62vw;
    font-size: 1.5vw;
    padding-top: 2.5vw;
    padding-left: 4vw;
  }

  /* line 62, ../sass/footer/social/_social-network.scss */
  .allright {
    display: none;
    visibility: hidden;
  }

  /* line 66, ../sass/footer/social/_social-network.scss */
  .social-network--block {
    width: 9vw;
  }
}
/* line 1, ../sass/footer/logo/_logo.scss */
.main-footer--logo {
  width: 8vw;
  height: 5vw;
  background-image: url(../img/logo/lays.png);
  background-repeat: no-repeat;
  background-size: 3vw;
  background-position: 2vw 1.5vw;
}

@media screen and (max-width: 640px) {
  /* line 11, ../sass/footer/logo/_logo.scss */
  .main-footer--logo {
    display: none;
    visibility: hidden;
  }
}
/* line 5, ../sass/footer/_footer.scss */
.main-footer {
  width: inherit;
  height: 7vw;
  background-color: #353535;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

/* line 1, ../sass/main-content/girl-at-wall/button/button.scss */
.girl-at-wall--button {
  position: relative;
  top: 15vw;
  left: 7vw;
}

@media screen and (max-width: 640px) {
  /* line 7, ../sass/main-content/girl-at-wall/button/button.scss */
  .girl-at-wall--button {
    top: 22vw;
    left: 55vw;
  }
}
/* line 1, ../sass/main-content/girl-at-wall/arrow/_arrow.scss */
.arrow {
  position: relative;
  top: 15vw;
  left: 7vw;
  width: 15vw;
  height: 8vw;
}

/* line 8, ../sass/main-content/girl-at-wall/arrow/_arrow.scss */
.arrow--strip {
  background-color: red;
  width: 0.5vw;
  height: 5vw;
  border-radius: 10%;
}

/* line 14, ../sass/main-content/girl-at-wall/arrow/_arrow.scss */
.arrow--strip:nth-child(1) {
  transform: rotate(45deg) translate(1.7vw, -4.6vw);
}

/* line 17, ../sass/main-content/girl-at-wall/arrow/_arrow.scss */
.arrow--strip:nth-child(2) {
  transform: rotate(-45deg) translate(10.3vw, 0.5vw);
}

/* line 20, ../sass/main-content/girl-at-wall/arrow/_arrow.scss */
.arrow--strip:nth-child(3) {
  transform: translate(6vw, -11vw);
  height: 7vw;
}

@media screen and (max-width: 640px) {
  /* line 26, ../sass/main-content/girl-at-wall/arrow/_arrow.scss */
  .arrow {
    position: relative;
    top: 30vw;
    left: 22vw;
    width: 15vw;
    height: 19vw;
  }

  /* line 33, ../sass/main-content/girl-at-wall/arrow/_arrow.scss */
  .arrow--strip {
    background-color: red;
    width: 1vw;
    height: 10vw;
    border-radius: 10%;
  }

  /* line 39, ../sass/main-content/girl-at-wall/arrow/_arrow.scss */
  .arrow--strip:nth-child(1) {
    transform: rotate(45deg) translate(1.5vw, -2.9vw);
  }

  /* line 42, ../sass/main-content/girl-at-wall/arrow/_arrow.scss */
  .arrow--strip:nth-child(2) {
    transform: rotate(-45deg) translate(14.5vw, -1vw);
  }

  /* line 45, ../sass/main-content/girl-at-wall/arrow/_arrow.scss */
  .arrow--strip:nth-child(3) {
    transform: translate(6.4vw, -19vw);
    height: 15vw;
  }
}
/* line 1, ../sass/main-content/girl-at-wall/girl-at-wall--header/_girl-at-wall--header.scss */
.girl-at-wall--header {
  position: relative;
  font-family: GothaProBol;
  font-size: 3vw;
  letter-spacing: -2px;
  top: 13vw;
  left: 6vw;
}

/* line 9, ../sass/main-content/girl-at-wall/girl-at-wall--header/_girl-at-wall--header.scss */
.girl-at-wall--hash {
  position: relative;
  font-family: GothaProLig;
  font-size: 3vw;
  letter-spacing: -2px;
  top: 14vw;
  left: 6vw;
  background-color: #FFF;
  width: 17vw;
}

@media screen and (max-width: 640px) {
  /* line 20, ../sass/main-content/girl-at-wall/girl-at-wall--header/_girl-at-wall--header.scss */
  .girl-at-wall--header {
    font-size: 6.5vw;
    letter-spacing: -2px;
    top: 28vw;
    left: 11vw;
    line-height: 8vw;
  }

  /* line 27, ../sass/main-content/girl-at-wall/girl-at-wall--header/_girl-at-wall--header.scss */
  .girl-at-wall--hash {
    font-size: 6.5vw;
    letter-spacing: -1px;
    top: 29vw;
    left: 11vw;
    width: 38vw;
  }
}
/* line 4, ../sass/main-content/girl-at-wall/_girl-at-wall.scss */
.girl-at-wall {
  width: 50%;
  max-width: 50%;
  background-image: url(../img/girl-at-wall/girl-at-wall.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

@media screen and (max-width: 640px) {
  /* line 13, ../sass/main-content/girl-at-wall/_girl-at-wall.scss */
  .girl-at-wall {
    width: 100%;
    max-width: 100%;
    height: 50%;
  }
}
/* line 1, ../sass/main-content/map/button/_button.scss */
.map--button {
  position: relative;
  top: 32vw;
  left: 16vw;
}

@media screen and (max-width: 640px) {
  /* line 8, ../sass/main-content/map/button/_button.scss */
  .map--button {
    top: 80vw;
    left: 38vw;
  }
}
/* line 1, ../sass/main-content/map/map--header/_map--header.scss */
.map--header {
  position: relative;
  font-family: GothaProBol;
  font-size: 4vw;
  letter-spacing: -1px;
  top: 30vw;
  left: 11vw;
}

@media screen and (max-width: 640px) {
  /* line 11, ../sass/main-content/map/map--header/_map--header.scss */
  .map--header {
    font-size: 7vw;
    letter-spacing: -1px;
    top: 77vw;
    left: 28vw;
  }
}
/* line 3, ../sass/main-content/map/_map.scss */
.map {
  width: 50%;
  background-image: url(../img/map/lays.png), url(../img/map/linkonmap.png), url(../img/map/map.png), url(../img/map/areaundermap.jpg);
  background-repeat: no-repeat;
  background-size: 7vw 7vw, 11vw, 40vw, cover;
  background-position: 19vw 5vw, 17vw 3vw, 2vw 14vw, 0 0;
  z-index: 1;
}

/* line 23, ../sass/main-content/map/_map.scss */
.map-square {
  height: 7vw;
  width: 7vw;
  position: relative;
  top: 9vw;
  left: -3vw;
  background-image: url(../img/map/areaundermap.jpg);
  transform: rotate(45deg);
  background-position: 192px -107px;
  z-index: 1;
}

@media screen and (max-width: 640px) {
  /* line 35, ../sass/main-content/map/_map.scss */
  .map {
    width: 100%;
    max-width: 100%;
    height: 50%;
    background-size: 20vw, 28vw, 90vw, cover;
    background-position: 42vw 16vw, 38vw 11vw, 5vw 40vw, 0 0;
  }

  /* line 42, ../sass/main-content/map/_map.scss */
  .map-square {
    display: none;
  }
}
/* line 1, ../sass/main-content/lays-pack/button/button.scss */
.red-block--button {
  position: relative;
  top: 19vw;
  left: 7vw;
}

@media screen and (max-width: 640px) {
  /* line 7, ../sass/main-content/lays-pack/button/button.scss */
  .red-block--button {
    top: 55vw;
    left: 35vw;
  }
}
/* line 1, ../sass/main-content/lays-pack/lays-pack--header/_lays-pack--header.scss */
.red-block--header {
  position: relative;
  font-family: GothaProBol;
  font-size: 4vw;
  letter-spacing: -2px;
  top: 9vw;
  left: 20vw;
  color: white;
}

@media screen and (max-width: 640px) {
  /* line 11, ../sass/main-content/lays-pack/lays-pack--header/_lays-pack--header.scss */
  .red-block--header br:nth-child(1) {
    display: none;
  }

  /* line 14, ../sass/main-content/lays-pack/lays-pack--header/_lays-pack--header.scss */
  .red-block--header {
    font-size: 9vw;
    letter-spacing: -2px;
    top: 15vw;
    left: 11vw;
  }
}
/* line 1, ../sass/main-content/lays-pack/lays-pack--article/_lays-pack--article.scss */
.red-block--article {
  position: relative;
  top: 15vw;
  left: 6vw;
  width: 32vw;
  height: 3vw;
  color: white;
  font-size: 1.5vw;
}

@media screen and (max-width: 640px) {
  /* line 11, ../sass/main-content/lays-pack/lays-pack--article/_lays-pack--article.scss */
  .red-block--article {
    position: relative;
    top: 22vw;
    left: 6vw;
    width: 43vw;
    height: 3vw;
    color: white;
    font-size: 4.5vw;
    line-height: normal;
  }
}
/* line 4, ../sass/main-content/lays-pack/_lays-pack.scss */
.red-block {
  width: 50%;
  background-color: red;
  background-image: url(../img/lays-pack/layspack.png);
  background-repeat: no-repeat;
  background-size: 16vw;
  background-position: 4vw 7vw;
  z-index: 2;
}

/* line 13, ../sass/main-content/lays-pack/_lays-pack.scss */
.red-block--red-square {
  height: 10vw;
  width: 10vw;
  position: relative;
  top: -8vw;
  left: 38vw;
  background-color: red;
  transform: rotate(45deg);
  z-index: 1;
}

@media screen and (max-width: 640px) {
  /* line 24, ../sass/main-content/lays-pack/_lays-pack.scss */
  .red-block {
    width: 100%;
    max-width: 100%;
    height: 50%;
    background-size: 32vw;
    background-position: 56vw 28vw;
  }

  /* line 31, ../sass/main-content/lays-pack/_lays-pack.scss */
  .red-block--red-square {
    display: none;
  }
}
@-webkit-keyframes resizeAero {
  0% {
    background-size: 15vw, 100% 100%;
  }
  50% {
    background-size: 17vw, 110% 110%;
  }
  100% {
    background-size: 15vw, 100% 100%;
  }
}
/* line 14, ../sass/main-content/aerostat/_animation.scss */

/* line 2, ../sass/main-content/aerostat/_aerostat.scss */
.aerostat {
  width: 50%;
  background-image: url(../img/aerostat/aerostat.png), url(../img/aerostat/field.jpg);
  background-repeat: no-repeat;
  background-size: 15vw, 100% 100%;
  background-position: 15vw 10vw,0;
  z-index: 0;
}

@media screen and (max-width: 640px) {
  /* line 12, ../sass/main-content/aerostat/_aerostat.scss */
  .aerostat {
    width: 100%;
    max-width: 100%;
    height: 50%;
    background-size: 28vw, 100% 100%;
    background-position: 35vw 30vw,0;

  }

}
/* line 2, ../sass/main-content/galery/_galery.scss */
.galery {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/* line 9, ../sass/main-content/galery/_galery.scss */
.sub-content-strip {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  height: 13vw;
}

/* line 15, ../sass/main-content/galery/_galery.scss */
.galery-img {
  margin-left: 1.5vw;
  width: 13vw;
}

@media screen and (max-width: 640px) {
  /* line 20, ../sass/main-content/galery/_galery.scss */
  .galery {
    width: 100%;
    max-width: 100%;
    height: 50%;
  }

  /* line 25, ../sass/main-content/galery/_galery.scss */
  .sub-content-strip {
    margin-top: 2vw;
    height: 30vw;
  }

  /* line 29, ../sass/main-content/galery/_galery.scss */
  .galery-img {
    margin-left: 2vw;
    width: 30vw;
  }
}
@-webkit-keyframes resizePeople {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}
/* line 15, ../sass/main-content/peoples/_animation.scss */
._animation-people:hover {
  -webkit-animation-name: resizePeople, left;
  -webkit-animation-duration: 20s,0s;
  -webkit-animation-iteration-count: infinite, 0;
}

/* line 2, ../sass/main-content/peoples/_peoples.scss */
.people-on-beach {
  width: 50%;
  background-image: url(../img/people/peopleonbeach.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

@media screen and (max-width: 640px) {
  /* line 10, ../sass/main-content/peoples/_peoples.scss */
  .people-on-beach {
    width: 100%;
    max-width: 100%;
    height: 50%;
    animation: none;
  }
._animation-people:hover {
  -webkit-animation-name: resizePeople, left;
  -webkit-animation-duration: 0s,0s;
  -webkit-animation-iteration-count: infinite, 0;
}

}
/* line 10, ../sass/main-content/_main-content.scss */
.container .main-content {
  display: flex;
  flex-direction: column;
  height: 174vw;
  width: inherit;
  background-color: #ECDA00;
}
/* line 16, ../sass/main-content/_main-content.scss */
.container .main-content .content-strip {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 46vw;
  background-color: #ECDA00;
}

@media screen and (max-width: 640px) {
  /* line 27, ../sass/main-content/_main-content.scss */
  .container .main-content {
    height: 600vw;
  }
  /* line 29, ../sass/main-content/_main-content.scss */
  .container .main-content .content-strip {
    flex-direction: column;
    width: 100%;
    height: 200vw;
    background-color: #ECDA00;
  }

  /* line 39, ../sass/main-content/_main-content.scss */
  .container .main-content .content-strip:nth-child(3) {
    flex-direction: column-reverse;
  }
}
@font-face {
  font-family: GothaProMed;
  src: url(../fonts/GothaProMed.otf);
}
@font-face {
  font-family: GothaProBol;
  src: url(../fonts/GothaProBol.otf);
}
@font-face {
  font-family: GothaProLig;
  src: url(../fonts/GothaProLig.otf);
}
/* line 26, ../sass/style.scss */
html {
  margin: 0 auto;
}

/* line 29, ../sass/style.scss */
body {
  font-family: GothaProLig;
  height: initial;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* line 36, ../sass/style.scss */
._red {
  color: #f73934;
}

/* line 39, ../sass/style.scss */
._button-style {
  width: 14vw;
  height: 4vw;
  border: solid white 2px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.5vw;
  color: white;
}

/* line 47, ../sass/style.scss */
._button-style:hover {
  transition: 1s;
  transition-property: background-color;
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 52, ../sass/style.scss */
._button-style:not(:hover) {
  transition: 1s;
  transition-property: background-color;
  background-color: rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes left {
  0% {
    transform: translateX(-75%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* line 77, ../sass/style.scss */
._left-translate {
  -webkit-animation-name: left;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes right {
  0% {
    transform: translateX(75%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* line 91, ../sass/style.scss */
._right-translate {
  -webkit-animation-name: right;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
}

/* line 97, ../sass/style.scss */
._hidden {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 640px) {
  /* line 102, ../sass/style.scss */
  ._button-style {
    width: 26vw;
    height: 8vw;
    font-size: 2.5vw;
  }
}
