/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/main-header/menu/_menu_logo/_logo.scss */
._logo {
  height: 160px;
  width: inherit;
  background-image: url(../img/logo/lays.png);
  background-repeat: no-repeat;
  background-size: 85px;
  background-position: 35px 35px;
}

/* line 9, ../sass/main-header/menu/_menu_logo/_logo.scss */
.leto-lays-text {
  position: relative;
  top: 112px;
  left: 38px;
}

/* line 1, ../sass/main-header/menu/_menu_insta/_insta.scss */
._insta {
  height: 120px;
  width: inherit;
  background-image: url(../img/menu-insta/insta.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 55px 15px;
}

/* line 9, ../sass/main-header/menu/_menu_insta/_insta.scss */
.galery-text {
  position: relative;
  top: 75px;
  left: 54px;
}

/* line 1, ../sass/main-header/menu/_menu_prize/_prize.scss */
._prize {
  height: 120px;
  width: inherit;
  background-image: url(../img/menu-prize/prize.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 55px 15px;
}

/* line 9, ../sass/main-header/menu/_menu_prize/_prize.scss */
.about-text {
  position: relative;
  top: 80px;
  left: 46px;
}

/* line 1, ../sass/main-header/menu/_menu_map/_map.scss */
._map {
  height: 120px;
  width: inherit;
  background-image: url(../img/menu-map/map.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 55px 15px;
}

/* line 9, ../sass/main-header/menu/_menu_map/_map.scss */
.leto-with-lays-text {
  position: relative;
  top: 75px;
  left: 40px;
}

/* line 6, ../sass/main-header/menu/menu.scss */
.menu {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: initial;
}

/* line 12, ../sass/main-header/menu/menu.scss */
.menu--item {
  width: inherit;
}

/* line 3, ../sass/main-header/_main-header.scss */
.main-header {
  position: fixed;
  width: 150px;
  height: 132.5vw;
  max-height: 2903px;
  background-color: #f6f6f6;
}

/* line 1, ../sass/container/_container.scss */
.container {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin-left: 150px;
  height: 180vw;
}

/* line 1, ../sass/top-background/animation-elipses/_elips.scss */
.elips {
  height: 8vw;
  width: 8vw;
  border-radius: 100%;
  margin-right: 3vw;
  background-color: white;
}

/* line 1, ../sass/top-background/animation-elipses/animation-elipses.scss */
.animation-elipses {
  position: relative;
  top: 4vw;
  left: 4vw;
  display: flex;
  flex-direction: row;
  width: 600px;
  text-align: center;
}

/* line 10, ../sass/top-background/animation-elipses/animation-elipses.scss */
.animation-elipses--like-text,
.animation-elipses--load-photo-text,
.animation-elipses--win-prize-text {
  position: relative;
  top: 10vw;
  right: 0vw;
  width: 9vw;
  font-size: 1vw;
}

/* line 2, ../sass/top-background/main-text/main-text.scss */
.main-text {
  position: relative;
  font-size: 4vw;
  top: 4em;
  left: 1em;
  width: 600px;
}

/* line 7, ../sass/top-background/_top-background.scss */
.container .top-background {
  width: inherit;
  height: 57.3vw;
  background-image: url(../img/top-bg/top-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 2, ../sass/footer/_footer.scss */
.main-footer {
  width: inherit;
  height: 10vw;
  background-color: #353535;
}

/* line 1, ../sass/main-content/girl-at-wall/button/button.scss */
.content-strip--girl-at-wall-button {
  position: relative;
  top: 36vw;
  left: 7vw;
  width: 14vw;
  height: 4vw;
  border: solid white 2px;
  background-color: rgba(143, 12, 0, 0.1);
}

/* line 2, ../sass/main-content/girl-at-wall/_girl-at-wall.scss */
.content-strip--girl-at-wall {
  width: 50%;
  max-width: 50%;
  background-image: url(../img/girl-at-wall/girl-at-wall.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 1, ../sass/main-content/map/button/button.scss */
.content-strip--map-button {
  position: relative;
  top: 38vw;
  left: 16vw;
  width: 14vw;
  height: 4vw;
  border: solid white 2px;
  background-color: rgba(143, 12, 0, 0.1);
}

/* line 2, ../sass/main-content/map/_map.scss */
.content-strip--map {
  width: 50%;
  background-image: url(../img/map/lays.png), url(../img/map/linkonmap.png), url(../img/map/map.png), url(../img/map/areaundermap.jpg);
  background-repeat: no-repeat;
  background-size: 7vw 7vw, 11vw, 40vw, cover;
  background-position: 19vw 11vw,  17vw 9vw,  2vw 20vw,  0 0;
}

/* line 1, ../sass/main-content/lays-pack/button/button.scss */
.content-strip--red-block-button {
  position: relative;
  top: 36vw;
  left: 7vw;
  width: 14vw;
  height: 4vw;
  border: solid white 2px;
  background-color: rgba(143, 12, 0, 0.1);
}

/* line 2, ../sass/main-content/lays-pack/_lays-pack.scss */
.content-strip--red-block {
  width: 50%;
  height: inherit;
  background-color: red;
  background-image: url(../img/lays-pack/layspack.png);
  background-repeat: no-repeat;
  background-size: 14vw;
  background-position: 4vw 10vw;
}

/* line 1, ../sass/main-content/aerostat/_aerostat.scss */
.content-strip--aerostat {
  width: 50%;
  background-image: url(../img/aerostat/aerostat.png), url(../img/aerostat/field.jpg);
  background-repeat: no-repeat;
  background-size: 15vw, 100% 100%;
  background-position: 15vw 10vw,0;
}

/* line 2, ../sass/main-content/galery/_galery.scss */
.content-strip--galery {
  width: 50%;
  height: inherit;
  background-color: white;
}

/* line 2, ../sass/main-content/peoples/_peoples.scss */
.content-strip--people-on-beach {
  width: 50%;
  background-image: url(../img/people/peopleonbeach.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 10, ../sass/main-content/_main-content.scss */
.container .main-content {
  display: flex;
  flex-direction: column;
  height: 174vw;
  width: inherit;
  background-color: #E4E4E4;
}
/* line 16, ../sass/main-content/_main-content.scss */
.container .main-content .content-strip {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 46vw;
  background-color: #777575;
}

@font-face {
  font-family: GothaProMed;
  src: url(../fonts/GothaProMed.otf);
}
@font-face {
  font-family: GothaProBol;
  src: url(../fonts/GothaProBol.otf);
}
@font-face {
  font-family: GothaProLig;
  src: url(../fonts/GothaProLig.otf);
}
/* line 26, ../sass/style.scss */
html {
  margin: 0 auto;
}

/* line 29, ../sass/style.scss */
body {
  font-family: GothaProLig;
  height: initial;
  max-width: 1920px;
  margin: 0 auto;
}
