/* line 1, ../../../sass/top-background/animation-elipses/animation-elipses.scss */
.animation-elipses {
  position: relative;
  top: 4vw;
  left: 4vw;
  display: flex;
  flex-direction: row;
  width: 600px;
  text-align: center;
}

/* line 10, ../../../sass/top-background/animation-elipses/animation-elipses.scss */
.animation-elipses--like-text,
.animation-elipses--load-photo-text,
.animation-elipses--win-prize-text {
  position: relative;
  top: 10vw;
  right: 0vw;
  width: 9vw;
  font-size: 1vw;
}

@media screen and (max-width: 640px) {
  /* line 22, ../../../sass/top-background/animation-elipses/animation-elipses.scss */
  .animation-elipses {
    top: 50vw;
    left: 15vw;
    width: 600px;
  }

  /* line 27, ../../../sass/top-background/animation-elipses/animation-elipses.scss */
  .animation-elipses--like-text,
  .animation-elipses--load-photo-text,
  .animation-elipses--win-prize-text {
    top: 16vw;
    right: 0vw;
    width: 16vw;
    font-size: 2vw;
  }
}
