.row-content:nth-child(3) .block-content:nth-child(2){
 	display: flex;
 	flex-direction: column;
	background-image:url(lays.png), url(linkonmap.png), url(map.png),url(areaundermap.jpg);
	background-repeat: no-repeat;
	background-size: 100px 100px,auto,auto,auto;
	background-position: 
	316px 100px,
	290px 75px,
	40px 210px, 
	0 0;
 }
 .row-content:nth-child(3) .block-content:nth-child(2) input[type="button"]{
	width:250px ;
	height:70px;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid white;
	position: relative;
	 margin-top: 50px;
	margin-left:230px; 
	color: white;
	font-size: 24px;
 }