/* line 1, ../../../../sass/main-content/lays-pack/button/button.scss */
.red-block--button {
  position: relative;
  top: 19vw;
  left: 7vw;
}

@media screen and (max-width: 640px) {
  /* line 7, ../../../../sass/main-content/lays-pack/button/button.scss */
  .red-block--button {
    top: 55vw;
    left: 35vw;
  }
}
