 .lays-summer{
 	position: relative;
 	height: 200px;
 	width:350px;
	right: 550px;
	top:180px;
 	font-size: 80px;
 	font-family:GothaProMed; 
 	color:red;
 }
.lays-summer::first-line{
	letter-spacing:12px;
}
 .with-lays{
	font-family:GothaProMed;
	position: relative;
 	bottom: 60px;
 	word-spacing:-2px;
}
 .with-lays::first-letter{
 	font-family: GothaProLig;
 }
 .better{
	font-family:GothaProLig; 
 	font-size: 50px; 
 	position: relative;
 	bottom: 40px;
 	letter-spacing:3px;
 }