 .lays-summer{
    height: 200px;
    width: 350px;
   margin-top: 80px;
    margin-left: 100px;
    font-size: 80px;
    font-family: GothaProMed;
    color: #FF4C4C;
    right: -100px;
 }
.lays-summer::first-line{
	letter-spacing:12px;
}
 .with-lays{
	font-family:GothaProMed;
	position: relative;
 	bottom: 60px;
 	word-spacing:-2px;
}
 .with-lays::first-letter{
 	font-family: GothaProLig;
 }
 .better{
	font-family:GothaProLig; 
 	font-size: 50px; 
 	position: relative;
 	bottom: 40px;
 	letter-spacing:3px;
 }
 @media screen and (max-width: 640px) {
.lays-summer{
 	height: 210px;
    width: 350px;
    /* margin-top: 80px; */
    margin-left: 180px;
    margin-bottom: -33px;
    font-size: 80px;
    font-family: GothaProMed;
    color: red;
    right: -100px; }
}