@-webkit-keyframes resizeAero {
    0% {
      background-size: 15vw, 100% 100%;

    }
    50% {
        
       background-size: 17vw, 110% 110%;
    }
    100% {      
            background-size: 15vw, 100% 100%;
    }
 }
._animation:hover{
    -webkit-animation-name: resizeAero, right;
	-webkit-animation-duration:20s , 0s; 
	-webkit-animation-iteration-count: infinite, 0;
}