._logo{
	height : 160px;
	width : inherit;
	background-image: url(../img/logo/lays.png);
	background-repeat: no-repeat;
    background-size: 85px;
    background-position: 35px 35px;
}
.leto-lays-text{
	position:relative;
	top: 112px;
    left: 38px;
}