/* line 1, ../../../../sass/main-content/map/button/button.scss */
.map--button {
  position: relative;
  top: 32vw;
  left: 16vw;
}

@media screen and (max-width: 640px) {
  /* line 8, ../../../../sass/main-content/map/button/button.scss */
  .map--button {
    top: 80vw;
    left: 38vw;
  }
}
