/* line 1, ../../../../sass/main-content/map/button/button.scss */
.content-strip--map-button {
  position: relative;
  top: 38vw;
  left: 16vw;
  width: 14vw;
  height: 4vw;
  border: solid white 2px;
  background-color: rgba(143, 12, 0, 0.1);
}
