@import "main-content/girl-at-wall/button/button";
.content-strip--girl-at-wall{
	width:50%;
	max-width:50%;
	background-image: url(../img/girl-at-wall/girl-at-wall.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
}