@import url(../page-block/header/main-header.css);
@import url(../page-block/container/container.css);
main{
	max-width: inherit;
}
/*
@media screen and (max-width: 1400px) {
	main{
		max-width: 1400px;
	}
}
*/
@media screen and (max-width: 640px) {
	main{
		max-width: 640px;
	}
}
