@import "main-content/map/button/button";
@import "main-content/map/map--header/map--header";
.map{
	width:50%;
		background-image:
		url(../img/map/lays.png),
		url(../img/map/linkonmap.png), 
		url(../img/map/map.png),
		url(../img/map/areaundermap.jpg);
	background-repeat: no-repeat;
	background-size:
	 7vw 7vw,
	 11vw,
	 40vw,
	 cover;
	background-position: 
		19vw 5vw,
		17vw 3vw,
		2vw 14vw,
		0 0;
}
@media screen and(max-width: 640px){
.map{
width:100%;
max-width:100%;
height: 50%;
    background-size: 20vw, 28vw, 90vw, cover;
    background-position: 42vw 16vw, 38vw 11vw, 5vw 40vw, 0 0;
}
}