@import "main-content/map/button/button";
.content-strip--map{
	width:50%;
		background-image:
		url(../img/map/lays.png),
		url(../img/map/linkonmap.png), 
		url(../img/map/map.png),
		url(../img/map/areaundermap.jpg);
	background-repeat: no-repeat;
	background-size:
	 7vw 7vw,
	 11vw,
	 40vw,
	 cover;
    background-position:
     19vw 11vw, 
     17vw 9vw, 
     2vw 20vw, 
     0 0;
}