._prize{	
	height : 120px;
	width : inherit;
	background-image: url(../img/menu-prize/prize.png);
	background-repeat: no-repeat;
    background-size: 50px;
    background-position: 55px 15px;
}
.about-text{
	position:relative;
	top: 80px;
    left: 35px;
}
@media screen and(max-width: 1400px){
._prize{			
	height: 10vw;
    background-size: 4vw;
    background-position: 3.7vw 3vw;
}
.about-text{
	top: 10vw;
    left: 2vw;
    font-size: 1.5vw;
}
}