._prize{	
	height : 120px;
	width : inherit;
	background-image: url(../img/menu-prize/prize.png);
	background-repeat: no-repeat;
    background-size: 50px;
    background-position: 55px 15px;
}
.about-text{
	position:relative;
	top: 80px;
    left: 46px;
}