@import url(../header/menu-items/menu-strip.css);
.main-header{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: inherit;
    position: absolute;
    background-color: #f6f6f6;
    position: fixed;
  z-index: 2;
}
.logo{
    width: inherit;
    margin: 0;
    height: 150px;
    background-image: url(../header/lays.png);
    background-size: 80px, 90px;
    background-repeat:  no-repeat;
    background-position: 30px , 80px;
  
}
.logo-lays{
    position: relative;
    text-align: center;
    padding-top: 110px;
    margin-bottom:80px; 
    font-size: 14px;
    font-weight: bold;
    color: red;
    font-family:GothaProLig;
}
.empty{
    width: inherit;
    height: 1000px;
    background-color: #f6f6f6;
}

/*1400px laptop*/
@media screen and (max-width: 1400px) {
.main-header{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: inherit;
    position: absolute;
    background-color: #f6f6f6;
     position: fixed; 

}
.logo{
    width: inherit;
    margin: 0;
    height: 150px;
    background-image: url(../header/lays.png);
    background-size: 80px, 90px;
    background-repeat:  no-repeat;
    background-position: 30px , 80px;
  
}
.logo-lays{
    position: relative;
    text-align: center;
    padding-top: 110px;
    margin-bottom:80px; 
    font-size: 14px;
    font-weight: bold;
    color: red;
    font-family:GothaProLig;
}
.empty{
    width: inherit;
}
}
/*mobile 640px*/
@media screen and (max-width: 640px) {
.main-header{
    width:640px;
    height:120px;
    flex-direction: row;
    position: fixed;
    z-index:5;
  }
  .logo-lays{
     position: relative;
     text-align: center;
        margin-left: 235px; 
     padding-top: 10px;
     font-size: 32px;
     font-weight: bold;
  }
  .logo{
    height: 120px;
    width: 150px;
  }
  .empty{
    display: block;
    position: relative;
   left: 350px;
    top: 75px;
    width: 65px;
    height: 10px;
    background-color: red;
  }
}