@import url(../menu-items/insta/insta.css);
@import url(../menu-items/map/map.css);
@import url(../menu-items/prize/prize.css);
@import url(../menu-items/switcher/switcher.css);
.item{
    width: 150px;
    height:150px;
    background-position: 50px, 50px;
    background-color: #f6f6f6;

}
.text-menu{
    position: relative;
    text-align: center;
    padding-top: 97px;
    font-size: 14px;
    color: #555;
  }
  .item:hover{
    transition: all;
    transition-duration: 1s;
    background-color: white;
  }
  .mobile-menu{
  	display:none;
}
  @media screen and (max-width: 640px) {
  	.mobile-item{
  	width: 150px;
    height:150px;
    background-position: 50px, 50px;
    background-color: #f6f6f6;
  	}
  .main-header .item{
  	display:none;
  }
  .mobile-menu{
  	display:flex;
  	flex-direction:column;
  	position:fixed;
  	top:150px;
  	height: inherit;
  	width:640px;
  	background-color: #f6f6f6;
  		z-index:5;
  }
  .mobile-menu .mobile-item{
  	height: 100px;
  	width:inherit;
  	background-color: #f6f6f6;
  }

   .mobile-menu .mobile-item .text-menu{
   	font-family:GothaProLig;
   	padding-top: 30px;
    height: initial;
    width: 375px;
    left: 150px;
  }
  .mobile-menu .mobile-item .text-menu:nth-child(4){
  	text-transform: uppercase;
    color: #8e8d8d;
    font-size: 12px;
    letter-spacing: .2px;
    text-shadow: 1px 2px 2px white;
}
 .mobile-menu .mobile-item:nth-child(4){

  	    background: #f0eded;
  }
  .mobile-menu .mobile-item:nth-child(4):hover{

  	    background: white;
  }
   .mobile-item:hover{
    transition: all;
    transition-duration: 1s;
    background-color: white;
  }
}