
@-webkit-keyframes resizePeople {
    0% {
     background-size: 100% 100%;

    }
    50% {
    	
       background-size:110% 110%;
    }
    100% {   	
             background-size: 100% 100%;
    }
 }
._animation-people:hover{
	-webkit-animation-name: resizePeople, left;
	-webkit-animation-duration: 20s,0s;
	-webkit-animation-iteration-count: infinite, 0;

}