@import url(aerostat/aerostat.css);
@import url(galery/galery.css);
@import url(girl-at-wall/girl-at-wall.css);
@import url(lays-pack/lays-pack.css);
@import url(map/map.css);
@import url(people/people.css);

  .content{
 	display: flex;
 	flex-direction: column;
 	width: 1410px;
 }
 .row-content{
 	width: 1410px;
 	height: 705px;
 	display: flex;
 	flex-direction: row;
 	margin: 0;
 }
 .block-content{
 	position: relative;
 	width: 705px;
 	height: 705px;
 	background-repeat: no-repeat;

 }
 @media screen and (max-width: 640px) {
 .row-content{
  width: 640px;
  height: 1280px;
  flex-direction: column;
 }
  .block-content{
  margin-top: 0px;
   width: 640px;
    height: 640px;
  }
  .row-content:nth-child(3){
  	flex-direction: column-reverse;

  }
}