@import url(aerostat/aerostat.css);
@import url(galery/galery.css);
@import url(girl-at-wall/girl-at-wall.css);
@import url(lays-pack/lays-pack.css);
@import url(map/map.css);
@import url(people/people.css);

  .content{
 	display: flex;
 	flex-direction: column;
 	width: 100%;

 }
 .row-content{
 	width: 100%;
 	display: flex;
 	flex-direction: row;
 	margin: 0;
  
 }
 .block-content{
 	position: relative;
 	width:50%;
  height: initial;
 	background-repeat: no-repeat; 
 }

@media screen and (max-width: 1400px) {
 .row-content{
  height: 635px;
 }
}
 @media screen and (max-width: 1300px) {
 .row-content{
  height: 600px;
 }
  
}
 @media screen and (max-width: 1200px) {
 .row-content{
 height: 565px;
 }
 
}
 @media screen and (max-width: 1000px) {
 .row-content{
 height: 400px;
 }
 
}
 @media screen and (max-width: 750px) {
 .row-content{
  height: 350px;
  
 }
 
}
 @media screen and (max-width: 640px) {
 .row-content{
  width: 640px;
  height: initial;
  flex-direction: column;
 }
  .block-content{
  margin-top: 0px;
   width: 640px;
    height: 640px;
  }
  .row-content:nth-child(3){
  	flex-direction: column-reverse;

  }
}