/* line 1, ../../../sass/main-header/menu/_menu_logo/_logo.scss */
._logo {
  height: 160px;
  width: inherit;
  background-image: url(../img/logo/lays.png);
  background-repeat: no-repeat;
  background-size: 85px;
  background-position: 35px 35px;
}

/* line 9, ../../../sass/main-header/menu/_menu_logo/_logo.scss */
.leto-lays-text {
  position: relative;
  top: 112px;
  left: 30px;
}

@media screen and (max-width: 1400px) {
  /* line 15, ../../../sass/main-header/menu/_menu_logo/_logo.scss */
  ._logo {
    height: 12vw;
    background-size: 6vw;
    background-position: 2.7vw 3vw;
  }

  /* line 21, ../../../sass/main-header/menu/_menu_logo/_logo.scss */
  .leto-lays-text {
    top: 9.5vw;
    left: 1.6vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 28, ../../../sass/main-header/menu/_menu_logo/_logo.scss */
  ._logo {
    height: 12vw;
    background-size: 7vw;
    background-position: 2.7vw 3vw;
  }

  /* line 34, ../../../sass/main-header/menu/_menu_logo/_logo.scss */
  .leto-lays-text {
    top: 4.5vw;
    left: 41.6vw;
    font-size: 3vw;
  }
}
/* line 1, ../../../sass/main-header/menu/_menu_insta/_insta.scss */
._insta {
  height: 120px;
  width: inherit;
  background-image: url(../img/menu-insta/insta.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 55px 15px;
}

/* line 9, ../../../sass/main-header/menu/_menu_insta/_insta.scss */
.galery-text {
  position: relative;
  top: 75px;
  left: 45px;
}

@media screen and (max-width: 1400px) {
  /* line 15, ../../../sass/main-header/menu/_menu_insta/_insta.scss */
  ._insta {
    height: 10vw;
    background-size: 4vw;
    background-position: 3.7vw 3vw;
  }

  /* line 20, ../../../sass/main-header/menu/_menu_insta/_insta.scss */
  .galery-text {
    top: 9vw;
    left: 3vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 27, ../../../sass/main-header/menu/_menu_insta/_insta.scss */
  ._insta {
    height: 10vw;
    background-size: 7vw;
    background-position: 3.7vw 3vw;
  }

  /* line 32, ../../../sass/main-header/menu/_menu_insta/_insta.scss */
  .galery-text {
    top: 4vw;
    left: 43vw;
    font-size: 3vw;
  }
}
/* line 1, ../../../sass/main-header/menu/_menu_prize/_prize.scss */
._prize {
  height: 120px;
  width: inherit;
  background-image: url(../img/menu-prize/prize.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 55px 15px;
}

/* line 9, ../../../sass/main-header/menu/_menu_prize/_prize.scss */
.about-text {
  position: relative;
  top: 80px;
  left: 35px;
}

@media screen and (max-width: 1400px) {
  /* line 15, ../../../sass/main-header/menu/_menu_prize/_prize.scss */
  ._prize {
    height: 10vw;
    background-size: 4vw;
    background-position: 3.7vw 3vw;
  }

  /* line 21, ../../../sass/main-header/menu/_menu_prize/_prize.scss */
  .about-text {
    top: 10vw;
    left: 2vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 28, ../../../sass/main-header/menu/_menu_prize/_prize.scss */
  ._prize {
    height: 10vw;
    background-size: 7vw;
    background-position: 3.7vw 3vw;
  }

  /* line 33, ../../../sass/main-header/menu/_menu_prize/_prize.scss */
  .about-text {
    top: 4vw;
    left: 42vw;
    font-size: 3vw;
  }
}
/* line 1, ../../../sass/main-header/menu/_menu_map/_map.scss */
._map {
  height: 120px;
  width: inherit;
  background-image: url(../img/menu-map/map.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 55px 15px;
}

/* line 9, ../../../sass/main-header/menu/_menu_map/_map.scss */
.leto-with-lays-text {
  position: relative;
  top: 75px;
  left: 30px;
}

@media screen and (max-width: 1400px) {
  /* line 15, ../../../sass/main-header/menu/_menu_map/_map.scss */
  ._map {
    height: 10vw;
    background-size: 4vw;
    background-position: 3.7vw 3vw;
  }

  /* line 21, ../../../sass/main-header/menu/_menu_map/_map.scss */
  .leto-with-lays-text {
    top: 9vw;
    left: 1vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 640px) {
  /* line 29, ../../../sass/main-header/menu/_menu_map/_map.scss */
  ._map {
    height: 10vw;
    background-size: 7vw;
    background-position: 3.7vw 3vw;
  }

  /* line 34, ../../../sass/main-header/menu/_menu_map/_map.scss */
  .leto-with-lays-text {
    top: 4vw;
    left: 41vw;
    font-size: 3vw;
  }
}
/* line 6, ../../../sass/main-header/menu/menu.scss */
.menu {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: initial;
}

/* line 12, ../../../sass/main-header/menu/menu.scss */
.menu--item {
  width: inherit;
  visibility: visible;
}

/* line 16, ../../../sass/main-header/menu/menu.scss */
.menu--item:hover {
  background-color: white;
}

/* line 19, ../../../sass/main-header/menu/menu.scss */
.escape-menu {
  visibility: hidden;
}

@media screen and (max-width: 640px) {
  /* line 23, ../../../sass/main-header/menu/menu.scss */
  .menu--item {
    background-color: #f6f6f6;
    height: 15vw;
  }

  /* line 27, ../../../sass/main-header/menu/menu.scss */
  .menu--item:nth-child(5) {
    background-color: #f0eded;
  }

  /* line 30, ../../../sass/main-header/menu/menu.scss */
  .menu--item:nth-child(5):hover {
    background-color: white;
  }

  /* line 34, ../../../sass/main-header/menu/menu.scss */
  .escape-menu {
    position: relative;
    top: 4vw;
    left: 37vw;
    font-size: 3vw;
    visibility: visible;
  }
}
