@import url(../top-background/logo-items/animated.css);
.top-background{
 	width: 1410px;
 	height:645px;
	background-image: url(top-backround.jpg);	
	background-size:inherit ;
	background-repeat: no-repeat;

 }
 @media screen and (max-width: 640px) {
.top-background{
    width: 640px;
    background-image: url(top-backround-mobile.jpg);	
    height: 1110px;
  }
}