 @import url(net/net.css);
 @import url(vk/vk.css);
 @import url(facebook/fb.css);
 @import url(youtube/youtube.css);
 .socialnetwork{
 	width: 100px;
 	height: inherit;
 	opacity: 0.8;
 }
  .socialnetwork:hover{
  	transition-duration: 0.5s;
 	opacity: 1;
 }
  @media screen and (max-width: 1400px) {

}
 @media screen and (max-width: 1300px) {

}
 @media screen and (max-width: 1200px) {

}
 @media screen and (max-width: 1000px) {

}
 @media screen and (max-width: 750px) {

}
@media screen and (max-width: 640px) {
 .socialnetwork{
 	width: 90px;
 	height: 80px;
 	 }
}