@import "main-content/girl-at-wall/_girl-at-wall";
@import "main-content/map/_map";
@import "main-content/lays-pack/_lays-pack";
@import "main-content/aerostat/_aerostat";
@import "main-content/galery/_galery";
@import "main-content/peoples/_peoples";


.container{
	.main-content{
		max-width:1410px;
		display: flex;
		flex-direction:column;
		height:174vw;
		max-height:2150px;
		width:inherit;
		background-color: #E4E4E4;
		.content-strip{
			max-width:1410px;
			$content-strip-height : 46vw;
			display: flex;	
			flex-direction:row;
			width:100%;
			height:$content-strip-height;
			max-height:718px;
			background-color: #777575;
		}
	}
}