@import "main-content/girl-at-wall/_girl-at-wall";
@import "main-content/map/_map";
@import "main-content/lays-pack/_lays-pack";
@import "main-content/aerostat/_aerostat";
@import "main-content/galery/_galery";
@import "main-content/peoples/_peoples";


.container{
	.main-content{
    display: flex;
    flex-direction: column;
    height: 174vw;
    width: inherit;
    background-color: #E4E4E4;
		.content-strip{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 46vw;
    background-color: #777575;
		}
	}
}