@import url(block-content/block-content.css);
 .content{
 	display: flex;
 	flex-direction: column;
 	width:100%;
 }
 /*
 @media screen and (max-width: 1400px) {
 	 .content{
 	width: 1250px;
 }
.row-content{
 	width: 1250px;
 	height: 637px;
}
}
*/
 @media screen and (max-width: 1400px) {
 .content{
 	
 }
}
 @media screen and (max-width: 1300px) {
 .content{
 	
 }
}
 @media screen and (max-width: 1200px) {
 .content{
 	
 }
}
 @media screen and (max-width: 1000px) {
 .content{
 	
 }
}
 @media screen and (max-width: 750px) {
 .content{
 	
 }
}
 @media screen and (max-width: 640px) {
  .content{
    width: 640px;
    height: 3670px;
  }
 
}