 .row-content:nth-child(2) .block-content:nth-child(1){
	background-color: red;
	background-image:url(layspack.png);
	background-position: 50px 100px;
	display: flex;
 	flex-direction: column;
 	color: white;
 }
 .row-content:nth-child(2) .block-content:nth-child(1)::after{
    content: '';
    background-color: red;
    width: 100px;
    height: 130px;
    transform: rotate(45deg);
    position: relative;
    left: 651px;
    bottom: 415px;
    z-index: 2;

 }
.header-on-red-block{
	font-family: GothaProMed;
	font-size: 52px;
	margin-left:330px;
	margin-top:180px;  
}
.text-on-red-block{
	font-family: GothaProLig;
	font-size: 18px;
	margin-left:90px;
	margin-top:30px; 
}
.row-content:nth-child(2) .block-content:nth-child(1) input[type="button"]{
	width:250px ;
	height:70px;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid white;
	position: relative;
	margin-top: 50px;
	margin-left:90px; 
	color: white;
	font-size: 24px;
 }
.row-content:nth-child(2) .block-content:nth-child(1) input[type="button"]:hover{
    transition: all;
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1400px) {
.row-content:nth-child(2) .block-content:nth-child(1)::after{
    left: 560px;

 }
 .text-on-red-block {
    font-size: 18px;
    margin-top: 8px;
}
  .row-content:nth-child(2) .block-content:nth-child(1){
	background-image:url(layspack.png);
	background-position: 50px 65px;
	font-size: 45px;
 }
 .row-content:nth-child(2) .block-content:nth-child(1) input[type="button"]{
	width:220px ;
	height:115px;
	
 }
	}
@media screen and (max-width: 640px) {
.row-content:nth-child(2) .block-content:nth-child(1)::after{
	 visibility: hidden;
    width: 0;
    height: 0;
    }
.row-content:nth-child(2) .block-content:nth-child(1) input[type="button"]{
	width:240px ;
	height:60px;
	margin-top: 0px;
	margin-left:90px; 
	color: white;
	font-size: 22px;
 }
}