
.switcher{
display:none;
}

 @keyframes rotate-left {

    to {
        transform: rotate(45deg) translateY(34px)translateX(9px);
    }
 }
 @keyframes rotate-right {
    to {
        transform: rotate(-45deg) translateY(-26px) translateX(2px);
    }
 }
  @keyframes hidden-line {
    to {
        transform: scaleX(0); opacity(0);
    }
 }
  @keyframes back-rotate-left {

    to {
        transform: rotate(0deg) translateY(0px)translateX(0px);
    }
 }
 @keyframes back-rotate-right {
    to {
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }
 }
  @keyframes back-hidden-line {
    to{
        transform: scaleX(1); opacity(1);
    }
 }
@media screen and (max-width: 640px) {
	.switcher{
	display:block;
	position:fixed;
	height:inherit;
	width:100px;
	left:85%;
	padding-top:50px;
	}
	.first-line{
		 transform: rotate(45deg) translateY(34px)translateX(9px);
		position:relative;
		height:10px;
		width:70px;
		background-color: red;
		margin-bottom:15px;
		animation-name:back-rotate-left ;
		animation-duration:0.25s;
    	animation-fill-mode: forwards;
	}
	.second-line{
		transform: scaleX(0); opacity(0);
		position:relative;
		height:10px;
		width:70px;
		background-color: red;
		margin-bottom:15px;
		animation-name:back-hidden-line ;
		animation-duration:0.25s;
    	animation-fill-mode: forwards;
	}
	.third-line{
		transform: rotate(-45deg) translateY(-26px) translateX(2px);
		position:relative;
		height:10px;
		width:70px;
		background-color: red;
		margin-bottom:15px;
		animation-name:back-rotate-left ;
		animation-duration:0.25s;
    	animation-fill-mode: forwards;
	}
	
	.first-line-rotate{  
		height:10px;
		width:70px;
		background-color: red;
		margin-bottom:15px;
		animation-name:rotate-left ;
		animation-duration:0.25s;
    	animation-fill-mode: forwards;
	
	}
	.second-line-hidden{
		height:10px;
		width:70px;
		background-color: red;
		margin-bottom:15px;
		animation-name:hidden-line ;
		animation-duration:0.25s;
    	animation-fill-mode: forwards;
	}
	.third-line-rotate{
		height:10px;
		width:70px;
		background-color: red;
		animation-name:rotate-right ;
        animation-duration:0.25s;
		margin-bottom:15px;
		animation-fill-mode: forwards;
}