@import url(block-content/block-content.css);
 .content{
 	display: flex;
 	flex-direction: column;
 	width: 1410px;
 }
 .row-content{
 	width: 1410px;
 	height: 705px;
 	display: flex;
 	flex-direction: row;
 }
 @media screen and (max-width: 640px) {

  .content{
    width: 640px;
    height: 3850px;
  }
  .row-content{
 	width: 640px;
 	height: 1280px;
 	flex-direction: column;
 }
}