@import "main-header/menu/_menu_logo/_logo.scss";
@import "main-header/menu/_menu_insta/_insta.scss";
@import "main-header/menu/_menu_prize/_prize.scss";
@import "main-header/menu/_menu_map/_map.scss";

.menu{
	display : flex;
	flex-direction : column;
	width : inherit;
	height : initial;
}
.menu--item{
	width : inherit;
    visibility:visible;
}
.menu--item:hover{
    background-color: white;
}
 .escape-menu{
visibility:hidden;
    }
@media screen and(max-width: 640px){
.menu--item{
    background-color: #f6f6f6;
    height: 15vw;
}
.menu--item:nth-child(5) {
    background-color: #f0eded;
}
.menu--item:nth-child(5):hover {
   background-color: white;

}
    .escape-menu{
    	position:relative;
        top: 4vw;
        left: 37vw;
        font-size: 3vw;
        visibility:visible;
    }
}

