.insta-animation{
	position: relative;
	width: 60px;
	height: 60px;
	background: linear-gradient(to bottom, #f49d1a 0%,#f49d1a 42%,#f49d1a 42%,#ffb60c 42%,#ffb60c 48%,#ffb60c 48%,#f0fc0c 49%,#f0fc0c 50%,#fcf00c 55%,#f47804 56%,#f47804 56%,#f47804 100%);
	border-radius: 25%;
	top:32px;
	left:32px;
}
.elips{
position: relative;
width: 35px;
height: 35px;
background-color: blue;
border-radius:100% ;
top: 14px;
left: 14px;
box-shadow:   
inset 0px 0px 0px 2px rgba(43, 114, 136, 0.98), inset 0px 0px 0px 5px #123380, inset 0px 0px 0px 11px rgba(43, 114, 136, 0.98), inset 0px 0px 0px 14px rgb(18, 82, 128);
}
.glass{
position: relative;
width: 7px;
height: 2px;
background-color: blue;
border: 2px solid yellow;
border-radius: 25%;
    left: 5px;
    bottom: 25px
}
.diod{
	position: relative;
width: 3px;
height: 3px;
background-color: red;
border-radius:100% ;
bottom: 30px;
left: 50px;
box-shadow: 0px 0px 0px 2px white;
}
.button{
position: relative;
width: 20px;
height: 2px;
background-color: yellow;
bottom: 45px;
left: 20px;
}
@media screen and (max-width: 1400px) {
.insta-animation{
    width: 53px;
    height: 53px;
    top: 29px;
    left: 29px;
}
.elips{
	width: 32px;
    height: 32px;
    top: 12px;
    left: 11px;
}
.glass{
    width: 6px;
    height: 1px;
    bottom: 25px;
    left: 10px
}
.diod{
    width: 2px;
    height: 2px;
    bottom: 26px;
    left: 42px;
}
.button{
	width: 20px;
    height: 2px;
    bottom: 38px;
    left: 17px;
}
@media screen and (max-width: 1300px) {
    .insta-animation{
        width: 48px;
    height: 47px;
    top: 23px;
    left: 22px;
}
.elips{
      width: 28px;
    height: 28px;
    top: 12px;
    left: 10px;
}
.glass{
      width: 6px;
    height: 1px;
    bottom: 22px;
    left: 10px;
}
.diod{
    width: 2px;
    height: 2px;
    bottom: 26px;
    left: 38px;
}
.button{
       width: 20px;
    height: 2px;
    bottom: 35px;
    left: 17px;
}
 @media screen and (max-width: 1200px) {
.insta-animation{
        width: 48px;
    height: 47px;
    top: 23px;
    left: 22px;
}
.elips{
      width: 28px;
    height: 28px;
    top: 12px;
    left: 10px;
}
.glass{
      width: 6px;
    height: 1px;
    bottom: 22px;
    left: 10px;
}
.diod{
    width: 2px;
    height: 2px;
    bottom: 26px;
    left: 38px;
}
.button{
       width: 20px;
    height: 2px;
    bottom: 35px;
    left: 17px;
}
}
 @media screen and (max-width: 1000px) {
.insta-animation{
       width: 35px;
    height: 35px;
    top: 14px;
    left: 14px;
}
.elips{
       width: 20px;
    height: 20px;
    top: 9px;
    left: 7px;
}
.glass{
      width: 6px;
    height: 1px;
    bottom: 17px;
    left: 6px;
}
.diod{
        width: 2px;
    height: 2px;
    bottom: 18px;
    left: 27px;
}
.button{
    width: 20px;
    height: 2px;
    bottom: 28px;
    left: 7px;
}
}
 @media screen and (max-width: 750px) {
.insta-animation{
  width: 20px;
    height: 20px;
    top: 10px;
    left: 12px;
}
.elips{
        width: 10px;
    height: 10px;
    top: 7px;
    left: 6px;
}
.glass{
    display: none;
}
.diod{
   display: none;;
}
.button{
 display: none;
}
}
@media screen and (max-width: 640px) {
.insta-animation{
    width: 53px;
    height: 53px;
    top: 29px;
    left: 29px;
}
.elips{
    width: 32px;
    height: 32px;
    top: 12px;
    left: 11px;
}
.glass{
    width: 6px;
    height: 1px;
    bottom: 27px;
    left: 7px
}
.diod{
    width: 2px;
    height: 2px;
    bottom: 30px;
    left: 42px;
}
.button{
    width: 20px;
    height: 2px;
    bottom: 41px;
    left: 17px;
}
}