
@keyframes resizeAero {
    0% {
      background-size: 40%, 100% 100%;

    }
    50% {
    	
       background-size: 45%, 110% 110%;
    }
    100% {   	
             background-size: 40%, 100% 100%; 
    }
 }
.row-content:nth-child(2) .block-content:nth-child(2){
	background-image:url(aerostat.png), url(field.jpg);
	background-position:
	215px 122px,
   0px 0;
   background-size: 40%,100% 100%;
	background-repeat: no-repeat;
		z-index: 2;
 }
 .row-content:nth-child(2) .block-content:nth-child(2):hover{
 animation-name: resizeAero, right;
	animation-duration:20s; 
	animation-iteration-count: infinite, 0;
 }
 @media screen and (max-width: 1400px) {
.row-content:nth-child(2) .block-content:nth-child(2){
	background-image:url(aerostat.png), url(field.jpg);
	background-position:
	210px 122px,
    0px 0;
 }
}
 @media screen and (max-width: 1300px) {
.row-content:nth-child(2) .block-content:nth-child(2){
	background-image:url(aerostat.png), url(field.jpg);
	background-position:
	200px 122px,
    0px 0;
 }
}
 @media screen and (max-width: 1200px) {
.row-content:nth-child(2) .block-content:nth-child(2){
	background-image:url(aerostat.png), url(field.jpg);
	background-position:
	180px 122px,
    0px 0;
 }
}
 @media screen and (max-width: 1000px) {
.row-content:nth-child(2) .block-content:nth-child(2){
	background-image:url(aerostat.png), url(field.jpg);
	background-position:
	130px 122px,
    0px 0;
 }
}
 @media screen and (max-width: 750px) {
.row-content:nth-child(2) .block-content:nth-child(2){
	background-image:url(aerostat.png), url(field.jpg);
	background-position:
	100px 122px,
    0px 0;
 }
}
 @media screen and (max-width: 640px) {
.row-content:nth-child(2) .block-content:nth-child(2){
	background-image:url(aerostat.png), url(field.jpg);
	background-position:
	215px 122px,
   0px 0;
	background-repeat: no-repeat;
	background-size: 40%,100% 100%;

	
 }
}