/* line 1, ../../../../sass/main-content/girl-at-wall/button/button.scss */
.content-strip--girl-at-wall-button {
  position: relative;
  top: 36vw;
  left: 7vw;
  width: 14vw;
  height: 4vw;
  border: solid white 2px;
  background-color: rgba(143, 12, 0, 0.1);
}
