/* line 1, ../../../../sass/main-content/girl-at-wall/button/button.scss */
.girl-at-wall--button {
  position: relative;
  top: 15vw;
  left: 7vw;
}

@media screen and (max-width: 640px) {
  /* line 7, ../../../../sass/main-content/girl-at-wall/button/button.scss */
  .girl-at-wall--button {
    top: 22vw;
    left: 55vw;
  }
}
