.girl-at-wall--header{
    position: relative;
   font-family: GothaProBol;
    font-size: 3vw;
    letter-spacing: -2px;
    top: 17vw;
    left: 6vw;
}
.girl-at-wall--hash{
position: relative;
   font-family: GothaProLig;
    font-size: 3vw;
    letter-spacing: -2px;
    top: 17vw;
    left: 6vw;
    background-color: #FFF;
    width: 17vw;
}
@media screen and(max-width: 640px){
.girl-at-wall--header{
    font-size: 7vw;
    letter-spacing: -2px;
    top: 44vw;
    left: 7vw;
    line-height: 9vw;
}
.girl-at-wall--hash{
    font-size: 7vw;
    letter-spacing: -1px;
    top: 47vw;
    left: 7vw;
    width: 42vw;
}
}