@import url(../logo-items/heart-animation/heart-animated.css);
@import url(../logo-items/insta-animation/insts-animated.css);
@import url(../logo-items/prize-animation/prize-animated.css);
@import url(../logo-items/lays-summer-text/lays-summer-text.css);
.block{
	position: relative;
	background-color: white;
	height: 125px;
	width:125px;
	border-radius: 100%;
	margin-right: 60px;
	top: 50px;
 }
 .caption{
 	width: 150px;
 	text-align: center;
 	right: 10px;
 	font-family:GothaProLig; 
 	position: relative;
 	top: 120px;
 }
 .red{
 	color: red;
 }
  .logo-items{
 	display: flex;
 	flex-direction: row;
 	margin-left:100px;
 }
 @media screen and (max-width: 640px) {
.block{
	top: 300px;
 }
}