@import url(../logo-items/heart-animation/heart-animated.css);
@import url(../logo-items/insta-animation/insts-animated.css);
@import url(../logo-items/prize-animation/prize-animated.css);
@import url(../logo-items/lays-summer-text/lays-summer-text.css);
.block{
    position: relative;
    background-color: white;
    height: 125px;
    width: 125px;
    border-radius: 100%;
    margin-right: -80px;
    top: 50px;
 }
 .caption{
     width: 141px;
    text-align: center;
    right: 50px;
    font-family: GothaProLig;
    position: relative;
    top: 170px
 }
 .red{
 	color: red;
 }
  .logo-items{
 	display: flex;
 	flex-direction: row;
 	margin-left:100px;
    height: 270px;
 }
 @media screen and (max-width:1400px) {
   .block{
    position: relative;
    background-color: white;
    height: 110px;
    width: 110px;
    margin-right: -80px;
    top: 50px;
 }
 .caption{
     width: 130px;
    text-align: center;
    right: 40px;
    font-family: GothaProLig;
    position: relative;
    top: 160px
 }
 .red{
    color: red;
 }
  .logo-items{
    display: flex;
    flex-direction: row;
    margin-left:100px;
 }
}
}

 @media screen and (max-width: 1400px) {
.block{
   height: 110px;
    width: 110px;
 }
 .caption{
      
 }
}
 @media screen and (max-width: 1300px) {
.block{
   height: 90px;
    width: 90px;
 }
 .caption{
  top: 130px;
    left: -30px;
}
 }
}
 @media screen and (max-width: 1200px) {
.block{
   height: 75px;
    width: 75px;
 }
 .caption{
  top: 130px;
    left: -28px;
 }
}
 @media screen and (max-width: 1000px) {
.block{
   height: 60px;
    width: 60px;
 }
 .caption{
   top: 105px;
    left: -15px;
    font-size: 12px;
 }
}
 @media screen and (max-width: 750px) {
.block{
   height: 40px;
    width: 40px;
 }
 .caption{
       top: 84px;
    left: -4px;
    font-size: 7px;
 }
}
 @media screen and (max-width: 640px) {
   .logo-items{ display: flex;
    flex-direction: row;
    margin-left: 100px;
    height: 860px;
}
.block{
   height: 110px;
    width: 110px;
 }
  .caption{
     width: 130px;
    text-align: center;
    right: 40px;
        left: -42px;
    font-size: 19px;
    position: relative;
    top: 160px
 }
}