@import url(../logo-items/heart-animation/heart-animated.css);
@import url(../logo-items/insta-animation/insts-animated.css);
@import url(../logo-items/prize-animation/prize-animated.css);
@import url(../logo-items/lays-summer-text/lays-summer-text.css);
.block{
	background-color: white;
	height: 125px;
	width:125px;
	border-radius: 100%;
	margin-right: 60px;
 }
 .caption{
 	width: 150px;
 	text-align: center;
 	position: relative;
 	top:130px;
 	right: 10px;
 	font-family:GothaProLig; 
 }
  .logo-items{
 	display: flex;
 	flex-direction: row;
 	position: relative;
 	margin-left:100px;
 	top: 75px;
 }